<?xml version="1.0" encoding="utf-8"?>

<list>

	<!--数据库配置文件 start-->
	<databaseConf>
		<name>XiaoBoPHP数据库配置文件</name>
		<version>0.0.1</version>
		<path>/conf/database.php</path>
	</databaseConf>
	<!--数据库配置文件 end-->

	<!--视图配置文件 start-->
	<viewConf>
		<name>XiaoBoPHP视图配置文件</name>
		<version>0.0.1</version>
		<path>/conf/viewConf.php</path>
	</viewConf>
	<!--视图配置文件 end-->

	<!--核心配置文件 start-->
	<conf>
		<name>XiaoBoPHP配置文件</name>
		<version>0.0.1</version>
		<path>/conf/conf.php</path>
	</conf>
	<!--核心配置文件 end-->
	
	<!-- 加载全局方法 start -->
	<helpers>
		<name>XiaoBoPHP加载全局方法 beta</name>
		<version>0.0.1</version>
		<path>/helpers/functions.php</path>
	</helpers>
	<!-- 加载全局方法 end -->

	<!--这是加载模型的配置 start-->
	<model>
		<name>XiaoBoPHP模型API组件 beta</name>
		<version>0.0.1</version>
		<path>/model/Api.php</path>
	</model>
	<!--这是加载模型的配置 end-->


	<!--这是加载视图的配置 start-->
	<view>
		<name>XiaoBoPHP视图API组件 beta</name>
		<version>0.0.1</version>
		<path>/view/Api.php</path>
	</view>
	<!--这是加载视图的配置 end-->

	<!--这是加载控制器的配置 start-->
	<controller>
		<name>XiaoBoPHP控制器API组件 beta</name>
		<version>0.0.1</version>
		<path>/controller/Api.php</path>
	</controller>
	<!--这是加载控制器的配置 end-->

	<!--这是加载路由的配置 start-->
	<route>
		<name>XiaoBoPHP路由API组件 beta</name>
		<version>0.0.1</version>
		<path>/route/Api.php</path>
	</route>
	<!--这是加载路由的配置 end-->

	<!--自定义API组件加载 start-->
	<custom>
		<!-- session api  start-->
		<session>
			<isload>0</isload>
			<path>/session/Api.php</path>
		</session>
		<!-- session api  end-->

		<!--例子 start-->
		<thinkphp>
			<isload>0</isload> <!-- 是否加载组建 -->
			<path>/thinkphp/Api.php</path>
		</thinkphp>
		<!--例子 end-->
		
	</custom>
	<!--自定义API组件加载 end-->

</list>